---
import "../styles/shoptalk.scss";
interface Talk {
  url: string;
  frontmatter: {
    title: string;
    description: string;
    repo?: string;
    projectSite?: string;
    headerImage?: string;
  };
}

const talks: Talk[] = Object.values(import.meta.glob('../pages/shop-talk/*.markdown', { eager: true })) as Talk[];

---

<section class="lets-talk">
  <h2 class="cursive-heading">Let's talk shop …</h2>
  <p>Modern applications are increasingly data-driven, and dashboards have become the go-to interface for making that data useful and actionable. In this space, React stands out as the preferred choice—its component model, hooks, and ecosystem make it ideal for building interactive, scalable UI.</p>
  <p>Lunar Phase is a small demo app in React that displays the current phase of the moon by fetching data from the Naval Observatory API. We can use it to demonstrate working in a UI with React.</p>
  <ul class="list">
    {talks.map((talk) => (
    <li class="item">
      <div class="content">
        <a href={talk.url}>
          <span class="item-name">{talk.frontmatter.title}</span>
        </a>
        <div class="shop-talk-content">
          {talk.frontmatter.headerImage && (
            <img
              src={talk.frontmatter.headerImage}
              alt={talk.frontmatter.title}
              class="list-image"
            />
          )}
          <div class="project-description">
            <p>{talk.frontmatter.description}</p>
          </div>
        </div>
      </div>
    </li>))}
  </ul>
</section>
