---
import { Icon } from "astro-icon/components";
type Props = {
  platform: string;
  username: string;
};
const { platform, username } = Astro.props;
---

<a
  href={`https://${platform}.com/${username === "kencrocken" ? username : "in/" + username}`}
  title=`${platform}`
  aria-label=`link to ${platform}`
>
  <Icon name=`fa6-brands:${platform}` aria-label=`${platform}` />
</a>
